@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    scrollbar-width: none;
}
*::-webkit-scrollbar{
    display:none;
}
.expeParentClass{
    padding: 45px 0px;
}
.experienceSecTitleCls{
    font-size:32px;
    font-family: 'Bree Serif', serif;
    font-weight:400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding-bottom:50px;
}
.experienceTitleHeadIconCls{
    display:flex;
    flex-direction:row;
    align-items:center;
    width: 64px;
    height: 64px;
}
.experienceSumContentCls{
    padding: 20px 20px;
    background: #F0F0F0;
    border-radius:20px;
    border: solid 2px #5F4CA5;
    border-style:dashed;
    margin: 0px 2.5%;
}
.experienceSumTextCls{
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:15px;
}
.expSumPointHeadPCls{
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.expSumPointHeadCls{
    color: #000000;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
    font-weight:400;
    display:flex;
    gap:7px;
}
.expSumPointHeadCls::before{
    content :'';
    display:block;
    background-image: url("../assets/tickSymbolRound.png");
    width:25px;
    height:25px;
    background-size:25px;
    min-width:25px;
    margin-top:2px;
}
.expSumImageHeadPCls{
    max-width:40%;
}
.experienceTitleBannerImgCls{
    max-width:100%;
    max-height:100%;
    border-radius:20px;
}
.expSumTimeCls{
    color: #f30e0e;
}
.expSumTechCls{
    color:#5F4CA5;
}
@media(max-width: 991px){
    .expSumImageHeadPCls{
        display:none !important;
    }
}
@media(max-width:768px){
    .experienceSecTitleCls{
        padding-bottom:20px;
    }
    .expSumPointHeadPCls{
        font-size:20px;
    }
}
@media(max-width: 530px){
    .experienceSecTitleCls{
        font-size: 24px !important;
    }
    .experienceSecTitleCls{
        padding-bottom:30px;
    }
    .experienceTitleHeadIconCls{
        width: 46px !important;
        height: 46px !important;
    }
    .experienceSumContentCls{
        margin: 0px 5%;
    }
    .expSumPointHeadPCls::before{
        width: 20px;
        height: 20px;
        background-size:20px;
        min-width:2px;
    }
    .expSumPointHeadPCls{
        font-size:16px;
    }
}