@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
.LandinParentSecCls {
    display: flex;
    flex-direction: column;
    /*gap: 70px;*/
    padding: 30px 20px 75px 20px;
}

.landSecRightPartCls {
    flex: 1;
}
.landSecRightPartCls{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100%;
    opacity: 0;
    animation: slideIn 0.8s ease-in-out forwards;
}

.bannerLandLocCls {
    width: 90%;
    max-width: 100%;
}

.mobHeaderBurgPCls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.MobileHeadCtrlBtnBurgCls {
    border: 0px;
    outline: none;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    padding: 10px 20px;
    color: #5F4CA5;
    background-color: transparent;

}

.mobHeaderBurgIconActChCls {
    background-image: url('../assets/MobileHeader/burgerIonActive.png');
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55px;
    height: 55px;
    background-size: 55px;
    outline: none;
    border: 0px;
    border-radius: 999999px;
    overflow: hidden;
    background-color: transparent;
}

.mobHeaderBurgIconChCls {
    background-image: url(../assets/MobileHeader/burgerIonIdle.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55px;
    height: 55px;
    background-size: 55px;
    outline: none;
    border: 0px;
    border-radius: 999999px;
    overflow: hidden;
    background-color: transparent;
}

.landinMobViewConteadCls {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: flex-end;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.MobileHeadCtrlBtnDivCls {
    padding: 10px 20px;
}
.MobileHeadCtrlBtnCls{
    border: 0px;
    outline: none;
    font-family: 'Bree Serif', serif;
    font-weight:400;
    font-size: 24px;
    text-align:right;
    color:#5F4CA5;
    background-color: transparent;
    width:fit-content;
    position:relative;

    display:flex;
    gap:10px;
    align-items:center;
    flex-direction: row-reverse
}
.MobileHeadCtrlBtnCls::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3 ease-in-out;
    border-radius: 9999px;

}
#landNavMainBtnContactMe:hover{
    background-color: #2C234B !important;
}
#landNavMainBtnDRes:hover{
    background-color: #2C234B !important;
}

.MobileHeadCtrlBtnCls:hover::after {
    transform: scaleX(1);
}
.skillsNavIconCls{
    background-image: url(../assets/skillSetHeadLogo.png);
}
.experienceNavIconCls {
    background-image: url(../assets/experienceIconV2.png)
}
.projectsNavIconCls{
    background-image: url(../assets/ProjectsTitleLogo.png);
}
.contactNavIconCls{
    background-image: url(../assets/contactIcon.png)
}
.mobNavTabComStyles{
    display:flex;
    flex-direction: row;
    align-items:center;
    width:30px;
    height:30px;
    background-size: 30px;
    outline:none;
    border:0px;
    overflow: hidden;
    background-color: transparent;
}

.mobViewHeadTitle {
    display: flex;
    width: 100%;
    height: 100%;
}

.mobHeaderNameLogoCls {
    background-repeat: no-repeat;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-height: 80px !important;
}

.LandingNavSecCls {
    position: relative;
    top: -100%;
    opacity: 0;
    animation: slideIn 0.8s ease-in-out forwards;
}
.LandingNavContCls{
    display:flex;
    padding: 20px;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}
.landNavContBtnCls{
    background: transparent;
    border: 0px;
    outline: none;
    font-size: 32px;
    font-family: 'Bree Serif', serif;
    font-weight:400;
    position:relative;
    display:flex;
    flex-direction:column;
}
.landNavContBtnCls::after{
    content:'';
    position:absolute;
    bottom:-4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    border-radius:10px;

}
.landNavContBtnCls:hover::after{
    transform: scaleX(1);
}

.LandingContentSecCls {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.landSecLeftPartCls {
    flex: 1;
}

.landSecLeftPartCls {
    display: flex;
    flex-direction:column;
    gap: 60px;
    justify-content: center;
    width: 50%;

    position:relative;
    left: -100%;
    opacity: 0;
    animation: slideIn 0.8s ease-in-out forwards;
}

.landSecNaming {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.landSecDescriptionMineCls {
    font-size: 21px;
    color: black;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
}

.landSecNamingMineCls {
    font-size: 30px;
    color: black;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
}

.hifiHandsLocCls {
    width: 50px;
    height: 50px;
}

.landSecNamingMineCls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.landHifiHandCls {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: hififwave;
    display: inline-block;
    transform-origin: 70% 70%;

}
.landingMainBtnHeadcls{
    background: #5F4CA5;
    border: 0px;
    outline: none;
    border-radius: 99999px;
    padding: 7px 9px 7px 25px;
    font-size:21px;
    color: white;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    display:flex;
    align-items: center;
    gap: 18px;
    text-wrap: nowrap;
    border: 2px solid rgb(213, 13, 123);
}
.landingMainBtnHeadcls:hover .landBtnMainContCls{
    background-color: #5F4CA5 !important;
}
.landingMainBtnHeadcls:hover .landBtnMainDresCls{
    background-color: #5F4CA5 !important;
}
.hifiHandsLandLocCls{
    width: 50px;
    height: 50px;
}

@keyframes hififwave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(8deg);
    }

    20% {
        transform: rotate(16deg);
    }

    30% {
        transform: rotate(24deg);
    }

    40% {
        transform: rotate(28deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes slideIn {
    to {
        left: 0;
        opacity: 1;
    }
}

.landMainFuncBtn {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.landMainFuncBtn button {
    box-shadow: 7px 7px 15px #0000002b;
}
.landBtnMainContComCls{
    background-color: #2C234B;
    border-radius: 999999px;
    padding:5px;
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

@media(max-width: 991px) {
    .LandinParentSecCls {
        /*gap: 50px;*/
        padding: 30px 20px 65px 20px;
    }

    .landNavContBtnCls,.landSecNamingMineCls {
        font-size: 26px;
    }

    .landSecDescriptionMineCls {
        font-size: 20px;
    }

    .hifiHandsLocCls {
        width: 45px;
        height: 45px;
    }

    .landSecNaming {
        gap: 15px;
    }
    .hifiHandsLandLocCls{
        width: 50px;
        height: 50px;
    }
}
@media(min-width: 769px) {

    .LandingNavContMobcls,
    .LandingNavSecMobCls {
        display: none;
    }
}
@media(max-width:768px) {
    .LandinParentSecCls {
        /*gap: 30px;*/
        padding: 30px 20px 45px 20px;
    }

    .LandingContentSecCls {
        margin-top: 55px;
    }

    .mobViewHeadTitle {
        width: 80%;
        height: 80%;
        max-width: 265px;
    }

    .landSecRightPartCls,.LandingNavSecCls {
        display: none;
    }
}
@media(max-width:540px) {
    .mobViewHeadTitle {
        width: 65%;
        height: 65%;
        max-width: 265px;
    }

    .landSecDescriptionMineCls {
        font-size: 18px;
    }

    .hifiHandsLocCls {
        width: 35px;
        height: 35px;
    }
    .hifiHandsLandLocCls{
        width: 35px;
        height: 35px;
    }
    .landingMainBtnHeadcls{
        padding: 5px 7px 5px 23px;
        font-size: 18px;
    }
}
@media(max-width:420px) {
    .MobileHeadCtrlBtnBurgCls {
        width: 45px;
        height: 45px;
        background-size: 45px;
    }

}
